<!DOCTYPE html>
<html>
  <head>
    <title>PROJETJavascript1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <!-- ----------------------NAVBAR --------------------------->
    <div class="row">
      <div class="d-flex justify-content-between col-12">
        <div class="col-6">
          <div>
            <%= link_to "/", class: 'navbar' do %>
            <h4>Home</h4>
            <% end %>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end justify-content-around">
          <h4><%= link_to "Peintures", paintings_path, class: 'navbar' %> </h4>
          <h4><%= link_to "Contact", contact_path, class: 'navbar' %></h4>
          <h4><%= link_to "About", about_path, class: 'navbar' %></h4>
        </div>
      </div>
      </div>
      <!-- --------------------------------------------------- -->
    <%= yield %>
  </body>
</html>
